form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

body {
 background-color: rgb(149, 149, 255);
}

#p11 {
    width: 70px;
    background-color: plum;
}

#p11:hover {
    color: purple;
}

.p12:focus {
    border-style: double;
    border-color: aqua;
    outline: 0;
}

.p12 {
    border-color: purple;
    border-style: dotted;
}